
<%= form_with(model: seller) do |form| %>
  <% if seller.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
        <% seller.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="card text-center" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.collection_select :product_id, Product.all, :id, :name%>
  </div>

  <div>
    <%= form.label :"Categoria", style: "display: block" %>
    <%= form.collection_select :condition_id, Condition.all, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  </div>
</div>
<% end %>
