<div id="<%= dom_id eco_product %>">
  <p>
    <strong>User:</strong>
    <%= eco_product.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= eco_product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= eco_product.description %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= eco_product.condition_id %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= eco_product.precio %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= eco_product.available %>
  </p>

</div>
